</body>
</main>
<footer class="blue darken-4">
&copy; 2016 John Shaw<span class="right"><a href="/projects" title="My Project">Recent Projects</a> | <a href="/contact" title="Contact Me">Contact Me</span>
<script>
$( document ).ready(function(){
	// jquery mobile nav
	$(".button-collapse").sideNav();
})
</script>
</footer>
</html>