<%- include partials/header.ejs %>
<h1><%= title %></h1>
<div class="row">
  <div class="col s6">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Where I live</div>
        <div class="collapsible-body"><p>It's complicated...</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">school</i>Education</div>
        <div class="collapsible-body"><p>4 year BA in Psychology</p><p>Currently in last semester of Web Design and Development at Georgian College</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">star</i>Skills</div>
        <div class="collapsible-body"><p>HTML5, CSS3, JavaScript, PHP, Node.js, AdWords, Analytics, MOZ, SEMrush</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">laptop mac</i>Experience</div>
        <div class="collapsible-body"><p>3 years working as a freelancer at <a href="http://www.branchoutmarketing.ca" target="_blank">Branch Out Marketing</a></p></div>
      </li>
    </ul>
  </div>
  <div class="col s6">
    <img src="images/john.png" title="John's profile pic">
  </div>
</div> <!-- row -->
  <%- include partials/footer.ejs %>