<%- include partials/header.ejs %>
<h1><%= title %></h1>
<p>1050 Houston Road<br />
Bracebridge, ON<br />
P1L 1X7<br /><br />
613.870.1818<br />
<strong><a href="mailto:john.shaw@mygeorgian.ca">john.shaw@mygeorgian.ca</strong></a><br />
www.johnshawportfolio.com</p>
<%- include partials/footer.ejs %>