<%- include partials/header.ejs %>
<h1>Freelance Web Development Services</h1>
<img src="images/background2.png" alt="John Shaw Portfolio Banner">
<div class="main-cta center">
	<a href="/contact" class="waves-effect waves-light btn-large orange darken-4 main-cta">Let's Discuss Your Business Goals</a>
	</div> <!-- main-cta -->
	<div class="row center large-icons">
		<div class="col s4">
			<i class="material-icons large">cloud</i>
			<h2>Website Design & Development</h2>
			<p>Like it or not, your website is a reflection of your business. Might as well make it a good one.</p>
			<a href="/projects" class="waves-effect waves-light btn orange lighten-1"><i class="material-icons left small-icon">cloud</i>Take a Look</a>
		</div>
		<div class="col s4">
			<i class="material-icons large">search</i>
			<h2>Search Engine Optimization</h2>
			<p>Take the extra time to make sure our sites will be found by the search engines. SEO optimized included with any new build.</p>
			<a href="/services" class="waves-effect waves-light btn orange ligten-1"><i class="material-icons left small-icon">search</i>All Services</a>
		</div>
		<div class="col s4">
			<i class="material-icons large">visibility</i>
			<h2>Digital Marketing & Pay Per CLick</h2>
			<p>Google AdWords certified and expert in digital marketing strategies to drive more qualified users to your website.</p>
			<a href="/contact" class="waves-effect waves-light btn orange ligten-1"><i class="material-icons left small-icon">visibility</i>Get in Touch</a>
		</div>
	</div>
	<%- include partials/footer.ejs %>