<%- include partials/header.ejs %>
<h1><%= title %></h1>
<div class="row">
	<div class="col s4">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="images/projects/Muskoka_Cornhole.png">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">Muskoka Cornhole<i class="material-icons right">more_vert</i></span>
				<p><a href="http://www.muskokacornhole.com" target="_blank">Visit Site</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">Muskoka Cornhole<i class="material-icons right">close</i></span>
				<p>Website design and developed with WordPress.  Running Google AdWords and selling products Canada wide.</p>
				<p><a href="http://www.muskokacornhole.com" target="_blank">Visit Site</a></p>
			</div>
		</div>
		</div> <!-- col s4 first-->
			<div class="col s4">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="images/projects/branch_out_marketing.jpg">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">Branch Out Marketing<i class="material-icons right">more_vert</i></span>
				<p><a href="http://www.branchoutmarketing.ca" target="_blank">Visit Site</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">Branch Out Marketing<i class="material-icons right">close</i></span>
				<p>My business website based out of Ottawa, Ontario.  Website design, development, seo and digital marketing services for small to medium sized business.  </p>
				<p><a href="http://www.branchoutmarketing.ca" target="_blank">Visit Site</a></p>
			</div>
		</div>
		</div> <!-- col s4 second-->
			<div class="col s4">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="images/projects/my_main_man_pat.png">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">My Main Man Pat<i class="material-icons right">more_vert</i></span>
				<p><a href="http://www.mymainmanpat.com" target="_blank">Visit Site</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">My Main Man Pat<i class="material-icons right">close</i></span>
				<p>An e-commerce website built with WordPress and Woocommerce.  The site owner is able to update new shirts every week via the backend.  Also has integration with mailchimp for easy email marketing integration.</p>
				<p><a href="http://www.mymainmanpat.com" target="_blank">Visit Site</a></p>
			</div>
		</div>
		</div> <!-- col s4 third-->
		</div> <!-- row -->

		<div class="row"><!-- second row -->
						<div class="col s4">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="images/projects/balsam_lake_cottages.jpg">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">Balsam Lake Cottages<i class="material-icons right">more_vert</i></span>
				<p><a href="http://www.balsamlakecottages.com" target="_blank">Visit Site</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">Balsam Lake Cottages<i class="material-icons right">close</i></span>
				<p>A cottage rental website for upscale properties in the Kawarth Lakes are.  The site owners can easily add and remove cottages as needed and update the properties details  Additional functunality includes an availability calendar to update which rental dates are available for each property.</p>
				<p><a href="http://www.balsamlakecottages.com" target="_blank">Visit Site</a></p>
			</div>
		</div>
		</div> <!-- col s4 first-->
					<div class="col s4">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="images/projects/team_lift.png">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">Team Lift<i class="material-icons right">more_vert</i></span>
				<p><a href="http://www.teamlift.ca" target="_blank">Visit Site</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">Team Lift<i class="material-icons right">close</i></span>
				<p>A WordPress website designed and developed for a Toronto based fitness based.  Targeted a peak performance training for sports teams.</p>
				<p><a href="http://www.teamlift.ca" target="_blank">Visit Site</a></p>
			</div>
		</div>
		</div> <!-- col s4 second-->
					<div class="col s4">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="images/projects/Volunteer_Cornwall.jpg">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">Volunteer Cornwall<i class="material-icons right">more_vert</i></span>
				<p><a href="http://www.volunteercornwall.ca" target="_blank">Visit Site</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">Volunteer Cornwall<i class="material-icons right">close</i></span>
				<p>A community based website dedicated to helping volunteer organizations connect with people looking to get involved volunteering.  The site allows community groups to set up their own pages in an effort to recruite volunteers.  Additional features include a newsletter, an events calendar and full social media integration.</p>
				<p><a href="http://www.volunteercornwall.ca" target="_blank">Visit Site</a></p>
			</div>
		</div>
		</div> <!-- col s4 third-->
		</div><!-- second row of projects -->
		<div class="row"> <!-- third row of projects -->
			<div class="col s4">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="images/projects/toronto_custom_printing.jpg">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">Toronto Custom Printing<i class="material-icons right">more_vert</i></span>
				<p><a href="http://www.torontocustomprinting.com" target="_blank">Visit Site</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">Toronto Custom Printing<i class="material-icons right">close</i></span>
				<p>The website owner was printing websites as a sidebusiness looking to increase exposure.  Based in Toronto, ON its a WordPress website coupled with local SEO and a digital marketing campaign to drive leads for people in Toronto who require custom clothing printed.</p>
				<p><a href="http://www.torontocustomprinting.com" target="_blank">Visit Site</a></p>
			</div>
		</div>
		</div> <!-- col s4 3 and 1-->
<div class="col s4">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="images/projects/d-rock-sports.jpg">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">D Rock Sports<i class="material-icons right">more_vert</i></span>
				<p><a href="http://www.drocksports.com" target="_blank">Visit Site</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">D Rock Sports<i class="material-icons right">close</i></span>
				<p>An E-Commerece subscription based website.  The site owner sells monthly subscriptions for sports betting advice.  The site uses Woocommerce and Paypal subscriptions.  Other features include multiple blogs and integration with mailchip so when users subscribe they are automatically added to the premium members subscription list.</p>
				<p><a href="http://www.drocksports.com" target="_blank">Visit Site</a></p>
			</div>
		</div>
		</div> <!-- col s4 3 and 2-->
		<div class="col s4">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="images/projects/ontario_tire.jpg">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">Ontario Tire<i class="material-icons right">more_vert</i></span>
				<p><a href="http://ontariotireautomotive.com/" target="_blank">Visit Site</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">Ontario Tire<i class="material-icons right">close</i></span>
				<p>An auto repair and tire mechanic in Richmond Hill Ontario.  A WordPress website that also uses custom hooks in order to sell used vehicles.  The owner of the website can easily add and remove used cars which he sells in addition to repairs.</p>
				<p><a href="http://ontariotireautomotive.com/" target="_blank">Visit Site</a></p>
			</div>
		</div>
		</div> <!-- col s4 3 and 3-->

		</div>
		<%- include partials/footer.ejs %>