<%- include partials/header.ejs %>
<h1><%= title %></h1>
<div class="row center large-icons">
	<div class="col s4">
		<i class="material-icons">cloud</i>
		<h2>Website Design</h2>
	</div>
	<div class="col s4">
		<i class="material-icons">code</i>
		<h2>Website Development</h2>
	</div>
	<div class="col s4">
		<i class="material-icons">visibility</i>
		<h2>Digital Marketing</h2>
	</div>
</div>
<%- include partials/footer.ejs %>