<%- include partials/header.ejs %>
<h1><%= title %></h1>
<div class="row center large-icons">
	<div class="col s4">
		<i class="material-icons large">cloud</i>
		<h2>Website Design & Development</h2>
		<p>Like it or not, your website is a reflection of your business. Might as well make it a good one.</p>
	</div>
	<div class="col s4">
		<i class="material-icons large">search</i>
		<h2>Search Engine Optimization</h2>
		<p>Take the extra time to make sure our sites will be found by the search engines. SEO optimized included with any new build.</p>
	</div>
	<div class="col s4">
		<i class="material-icons large">visibility</i>
		<h2>Digital Marketing & Pay Per CLick</h2>
		<p>Google AdWords certified and expert in digital marketing strategies to drive more qualified users to your website.</p>
	</div>
</div>
<%- include partials/footer.ejs %>