body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/******************************navigation
*******************************************/
nav .brand-logo {
	padding-left: 20px;
}
nav ul {
	padding-right: 20px;
}